.card {
    // border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 300px;
    background-color: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px;
    border-radius: 30px;
    border: solid 2px #92AFD7;
}

img {
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 50px;
}