.NavBar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 200px;
    background-color: #7fffd4;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;

    h1 {
        font-style: italic;
        font-weight: lighter;
        font-size: 120px;
        color: #92AFD7;
    }
}