.NavBar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 25vh;
    background-color: #2A324B;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    top: 0;

    h1 {
        padding: 10px;
        font-weight: lighter;
        font-size: 8vw;
        color: #92AFD7;
    }
}

@media (max-width: 960px) {
    .NavBar {
        flex-direction: column;
        padding: 10px;
        max-height: fit-content;

        h1 {
            padding-top: 5vh;
        }
    }
}