.NavBar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 200px;

    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    z-index: 999;

    h1 {
        padding: 10px;
        font-weight: lighter;
        font-size: 8vw;
        color: #92AFD7;
    }
}

@media (max-width: 960px) {
    .NavBar {
        flex-direction: column;
        padding: 10px;

        h1 {
            padding-top: 5vh;
        }
    }
}