body {
  font-family: 'Oswald', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;

  p {
    font-family: 'Tinos', serif;
  }
}

.wrapper {
  display: flex;
  max-width: 1800px;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}